.doctor-list {
    width: 100%;
    max-width: 300px; // Dar ekranlar için maksimum genişlik
    margin: 0 auto; 
    display: flex;
    flex-direction: column;
    align-items: center;
  
    @media (min-width: 640px) {
      max-width: 400px; // Orta boy ekranlar için maksimum genişlik
    }
  
    @media (min-width: 768px) {
      max-width: 500px; // Büyük ekranlar için maksimum genişlik
    }
  
    .doctor-item {
      margin-bottom: 1rem;
      width: 100%;
      max-width: 270px; 
      margin-left: auto;
      margin-right: auto;
  
      @media (min-width: 640px) {
        max-width: 320px; // Orta boy ekranlar için genişlik
      }
  
      @media (min-width: 768px) {
        max-width: 400px; // Büyük ekranlar için genişlik
      }
    }
  
    .doctor-item:last-child {
      margin-bottom: 0;
    }
}
  