<div *ngIf="doctors$ | async as doctors; else loading">
  @if (doctors.length > 0) {
    <ul class=" doctor-list">
      <li
        *ngFor="let doctor of doctors"
        (click)="onSelectDoctor(doctor.id)"
        class="doctor-item flex items-center p-2 border-b-2 border-gray-300 rounded-lg cursor-pointer hover:bg-blue-500 hover:text-gray-700"
        [ngClass]="{
          'bg-blue-500 text-white': doctor.id === activeDoctorId,
          'bg-gray-200 text-black': doctor.id !== activeDoctorId,
        }"
      >
        Prof. Dr. {{ doctor.firstName | titlecase }}
        {{ doctor.lastName | titlecase }}
      </li>
    </ul>
  } @else {
    <h1 class="py-4 text-red-600">Lütfen Klinik Seçimi Yapınız</h1>
  }
</div>

<ng-template #loading>
  <p class="text-gray-800">Loading...</p>
</ng-template>
