<div role="tablist" class="tabs tabs-lifted">
  <input 
    type="radio" 
    name="doctorDetails" 
    role="tab" 
    class="tab" 
    aria-label="Kişisel Bilgiler" />
  <div role="tabpanel" class="tab-content bg-base-100 border-base-300 rounded-box p-6">
    <app-doctor-settings-form></app-doctor-settings-form>
  </div>

  <input
    type="radio"
    name="userDetails"
    role="tab"
    class="tab"
    aria-label="Doktor Bilgileri"
    checked
   />
  <div role="tabpanel" class="tab-content bg-base-100 border-base-300 rounded-box p-6">
    
  </div>

  
</div>