<nav class="bg-white border-b-gray-500 border-2 fixed w-full">
  <div class="max-w-[1500px] mx-auto px-2 sm:px-6 lg:px-8">
    <div class="relative flex items-center justify-between h-16">
      <div
        class="flex-1 flex items-center justify-center sm:items-stretch sm:justify-start"
      >
        <div class="flex-shrink-0 text-white text-lg font-semibold">
          <a routerLink="/login">
            <img
              src="assets/images/logo/header-logo-aqua.svg"
              alt="AMC Logo"
              class="h-12 w-12 text-white"
            />
          </a>
        </div>
        <div class="hidden sm:block sm:ml-6">
          <div class="flex space-x-4"></div>
        </div>
      </div>
      <div class="flex items-center space-x-2">
        <a
          routerLink="/faq"
          class="text-gray-500 hover:bg-headerHover hover:text-white px-3 py-2 rounded-md text-sm font-medium"
          >{{ "basicHeader.faq" | translate }}</a
        >
        <a
          routerLink="/contact"
          class="text-gray-500 hover:bg-headerHover hover:text-white px-3 py-2 rounded-md text-sm font-medium"
          >{{ "basicHeader.contact" | translate }}</a
        >
        <a
          routerLink="/login"
          class="text-gray-500 hover:bg-headerHover hover:text-white px-3 py-2 rounded-md text-sm font-medium"
          >{{ "basicHeader.login" | translate }}</a
        >
        <a
          routerLink="/signup"
          class="text-gray-500 hover:bg-headerHover hover:text-white px-3 py-2 rounded-md text-sm font-medium"
          >{{ "basicHeader.signup" | translate }}</a
        >
        <details class="dropdown dropdown-end">
          <summary
            class="btn bg-headerHover hover:text-headerHover text-white m-1 px-3 py-2 rounded-md text-sm font-medium"
          >
            <span class="material-icons">language</span>
          </summary>
          <ul
            class="menu dropdown-content bg-base-100 rounded-box z-[1] w-32 p-2 shadow"
          >
            <li>
              <a href="javascript:void(0);" (click)="switchLanguage('en')"
                >English</a
              >
            </li>
            <li>
              <a href="javascript:void(0);" (click)="switchLanguage('tr')"
                >Türkçe</a
              >
            </li>
          </ul>
        </details>
      </div>
    </div>
  </div>
</nav>
