<app-table [headers]="headers" [items]="displayedAppointments">
  <ng-template #rowTemplate let-item>
    <tr class="hover:bg-gray-100">
      <td *ngIf="item.firstName && item.lastName; else emptyCell">
        Prof. Dr. {{ item.firstName | titlecase }}
        {{ item.lastName | titlecase }}
      </td>
      <ng-template #emptyCell>
        <td></td>
      </ng-template>
      <td *ngIf="item.appointmentTime; else emptyCell">
        {{ item.appointmentTime | date: "EEEE, d MMMM y" }}
      </td>
      <ng-template #emptyCell>
        <td></td>
      </ng-template>
      <td *ngIf="item.status; else emptyCell">{{ item.status }}</td>
      <ng-template #emptyCell>
        <td></td>
      </ng-template>
      <td *ngIf="item.id; else emptyCell">
        <button (click)="showDetails(item.id)" class="btn btn-ghost btn-xs">
          Detaylar
        </button>
      </td>
      <ng-template #emptyCell>
        <td></td>
      </ng-template>
    </tr>
  </ng-template>
</app-table>

<app-pagination
  [currentPage]="currentPage"
  [pageSize]="pageSize"
  [totalItems]="totalItems"
  (pageChange)="onPageChange($event)"
></app-pagination>

<dialog id="my_modal_3" class="modal">
  <div class="modal-box">
    <form method="dialog">
      <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">
        ✕
      </button>
    </form>
    <app-past-appointment-details [appointmentId]="selectedAppointmentId" />
  </div>
</dialog>
