<!-- Örnek tab geçişleri DaisyUI ile -->

<div class="flex">
  <button 
    class="py-2 px-4 bg-gray-200 hover:bg-gray-300 mr-2"
    (click)="currentTab = 'generalPatient'"
    [class.bg-gray-300]="currentTab === 'generalPatient'">
    Genel Ayarlar
  </button>
  <button 
    class="py-2 px-4 bg-gray-200 hover:bg-gray-300"
    (click)="currentTab = 'settingsPatient'"
    [class.bg-gray-300]="currentTab === 'settingsPatient'">
    Özel Ayarlar
  </button>
</div>

<div *ngIf="currentTab === 'generalPatient'">
  <app-patient-general-settings-form></app-patient-general-settings-form>
</div>
<div *ngIf="currentTab === 'settingsPatient'">
  <app-patient-settings-form></app-patient-settings-form>
</div>
