<div class="flex items-center p-4 bg-white shadow rounded-lg relative">
  <img
    class="w-16 h-16 rounded-full"
    [src]="appointment.imageUrl"
    alt="Profile Image"
  />
  <div class="ml-4">
    <h2 class="text-xl font-semibold mb-4">{{ appointment.firstName }}</h2>
    <p class="text-gray-600">
      <i class="fas fa-stethoscope mr-2"></i>
      {{ appointment.doctorSpecialization }}
    </p>
    <p class="text-gray-600">
      <i class="fas fa-calendar-alt mr-2"></i> Appointment On:
      {{ appointment.appointmentDate | date: "yyyy-MM" }}
    </p>
    <p class="text-gray-600">
      <i class="fas fa-clock mr-2"></i> At Time:
      {{ appointment.appointmentDate | date: "yyyy-MM" }}
    </p>
  </div>
  <div class="absolute bottom-4 right-4">
    <button
      class="hidden md:block px-4 py-2 bg-red-500 text-white rounded hover:bg-red-700"
    >
      İptal Et
    </button>
    <button
      class="block md:hidden px-4 py-2 bg-red-500 text-white rounded hover:bg-red-700"
    >
      X
    </button>
  </div>
</div>
